:root {
  --BG-Primary: #ffffff;
  --BG-Disable: #F3F4F6;
  --Text-Primary: #141c24;
  --Text-Secondary: #344051;
  --Text-Tertiary: #637083;
  --Text-Quartenery: #97a1af;
  --Text-Invert: #ffffff;
  --Text-Error: #F64C4C;
  --BG-Brand: #1975ff;
  --Border-Light: #ced2da;
  --Border-Medium: #97A1AF;
  --Indicator-Focused: #4C94FF;
  --Indicator-Error: #F64C4C;

  --font: "Inter", sans-serif;

  --space: 24px;
}
