:root {
  --BG-Primary: #ffffff;
  --BG-Tertiary: #f9fafb;
  --BG-Disable: #f3f4f6;
  --BG-Brand: #1975ff;
  --BG-Hover-Primary: #0052cc;
  --BG-Brand-ExtraLight: #cce0ff;

  --Text-Primary: #141c24;
  --Text-Secondary: #344051;
  --Text-Tertiary: #637083;
  --Text-Quartenery: #97a1af;
  --Text-Invert: #ffffff;
  --Text-Error: #f64c4c;

  --Border-Light: #ced2da;
  --Border-Medium: #97a1af;

  --Indicator-Focused: #4c94ff;
  --Indicator-Focused-Alternativ: #cce0ff;
  --Indicator-Error: #f64c4c;

  --font: "Inter", sans-serif;

  --space: 24px;
}
