:root {
  --BG-Primary: #ffffff;
  --Text-Primary: #141c24;
  --Text-Secondary: #344051;
  --Text-Tertiary: #637083;
  --Text-Quartenery: #97a1af;
  --Text-Invert: #ffffff;
  --BG-Brand: #1975ff;
  --Border-Light: #ced2da;

  --font: "Inter", sans-serif;

  --space: 24px;
}
